<footer class="tf-footer footer-s2 type-reverse bg-dark">
  <div class="position-relative">
    <div class="br-line fake-class bg-white_10 top-0"></div>
    <div class="container">
      <div class="footer-inner flat-spacing-2">
        <div class="col-left">
          <div class="footer-col-block type-white footer-wrap-3 ms-0 mb-sm-0">
            <p class="footer-heading footer-heading-mobile text-white">РАССЫЛКА</p>
            <div class="tf-collapse-content">
              <p class="footer-desc cl-text-3 mb-16">Подпишитесь на новости магазина и скидки.</p>
              <form class="form-sub mb-16">
                <fieldset>
                  <input placeholder="Введите e-mail" required="" type="email" />
                </fieldset>
                <button class="btn-action" type="submit">
                  <i class="icon icon-ArrowUpRight"></i>
                </button>
              </form>
              <p class="text-remember cl-text-3">
                Нажимая подписаться, вы соглашаетесь с
                <a class="text-white link link-underline" href="term-and-condition.html">условиями сервиса</a>
                и
                <a class="text-white link link-underline" href="privacy-policy.html">политикой конфиденциальности</a>.
              </p>
            </div>
          </div>
          <div class="footer-col-block type-white footer-wrap-4 mb-sm-0 d-xl-none">
            <p class="footer-heading footer-heading-mobile text-white">НАШ МАГАЗИН</p>
            <div class="tf-collapse-content">
              <p class="cl-text-3 mb-4">Центр поддержки 24/7:</p>
              <a class="text-white link h4 fw-medium mb-12" href="tel:+998977334483">+998 97 733 44 83</a>
              <a class="cl-text-3 link mb-4" href="https://www.google.com/maps?q=600+N+Michigan+Ave+Chicago,+IL+60611+USA" target="_blank">
                600 N Michigan Ave, Chicago, IL 60611, USA
              </a>
              <a class="cl-text-3 link mb-12" href="https://t.me/Senditme" target="_blank">@Senditme</a>
              <div class="d-flex align-items-center gap-20">
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-FacebookLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-XLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-InstagramLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-TiktokLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-SnapchatLogo"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="br-line type-vertical"></div>
        <div class="col-right">
          <div class="footer-col-block type-white footer-wrap-1 mx-xl-auto mb-sm-0">
            <p class="footer-heading footer-heading-mobile text-white">КОМПАНИЯ</p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                <li><a class="cl-text-3 link" href="about.html">О нас</a></li>
                <li><a class="cl-text-3 link" href="our-store.html">Наши истории</a></li>
                <li><a class="cl-text-3 link" href="contact.html">Связаться с нами</a></li>
                <li><a class="cl-text-3 link" href="blog.html">Новости</a></li>
                <li><a class="cl-text-3 link" href="account-page.html">Мой аккаунт</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-col-block type-white footer-wrap-2 mx-xl-auto mb-sm-0">
            <p class="footer-heading footer-heading-mobile text-white">ПОКУПАТЕЛЮ</p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                <li><a class="cl-text-3 link" href="shipping.html">Доставка</a></li>
                <li><a class="cl-text-3 link" href="return-and-refund.html">Возврат и компенсация</a></li>
                <li><a class="cl-text-3 link" href="privacy-policy.html">Политика конфиденциальности</a></li>
                <li><a class="cl-text-3 link" href="term-and-condition.html">Условия использования</a></li>
                <li><a class="cl-text-3 link" href="faq.html">Вопросы по заказам</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-col-block type-white footer-wrap-4 mb-sm-0 xl-d-none">
            <p class="footer-heading footer-heading-mobile text-white">НАШ МАГАЗИН</p>
            <div class="tf-collapse-content">
              <p class="cl-text-3 mb-4">Центр поддержки 24/7:</p>
              <a class="text-white link h4 fw-medium mb-12" href="tel:+998977334483">+998 97 733 44 83</a>
              <a class="cl-text-3 link mb-4" href="https://www.google.com/maps?q=600+N+Michigan+Ave+Chicago,+IL+60611+USA" target="_blank">
                600 N Michigan Ave, Chicago, IL 60611, USA
              </a>
              <a class="cl-text-3 link mb-12" href="https://t.me/Senditme" target="_blank">@Senditme</a>
              <div class="d-flex align-items-center gap-20">
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-FacebookLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-XLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-InstagramLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-TiktokLogo"></i></a>
                <a class="d-flex" href="#" target="_blank"><i class="fs-20 text-white link icon icon-SnapchatLogo"></i></a>
              </div>
            </div>
          </div>
          <div class="footer-col-block type-white mb-0 d-xl-none">
            <p class="footer-heading footer-heading-mobile text-white">МОЙ АККАУНТ</p>
            <div class="tf-collapse-content">
              <ul class="footer-menu-list">
                <li><a class="cl-text-3 link" href="login.html">Войти</a></li>
                <li><a class="cl-text-3 link" href="register.html">Регистрация</a></li>
                <li><a class="cl-text-3 link" href="account-page.html">Мой аккаунт</a></li>
                <li><a class="cl-text-3 link" href="wishlist.html">Избранное</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-inner-slide-text">
    <div class="container">
      <div class="infiniteSlide-footer-text">
        <div class="infiniteSlide-element">
          <div class="infiniteSlide infiniteSlide-wrapper" data-clone="3">
            <div class="infiniteSlide-slide">
              <p class="ft-text text-display text-white fw-semibold">88.UZ ОНЛАЙН МАГАЗИН&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="inner-bottom position-relative">
        <div class="br-line fake-class bg-white_10 top-0"></div>
        <div class="tf-list list-currenci">
          <div class="tf-languages">
            <select class="tf-dropdown-select style-default color-white type-languages">
              <option>Uzbek</option>
              <option>Русский</option>
              <option>English</option>
            </select>
          </div>
        </div>
        <p class="text-nocopy cl-text-2">(c)2026 88.uz. Все права защищены.</p>
        <ul class="tf-list payment-list">
          <li><img alt="Изображение" height="24" loading="lazy" src="/assets/theme/assets/images/payment/visa.svg" width="38" /></li>
          <li><img alt="Изображение" height="24" loading="lazy" src="/assets/theme/assets/images/payment/master-card.svg" width="38" /></li>
          <li><img alt="Изображение" height="24" loading="lazy" src="/assets/theme/assets/images/payment/amex.svg" width="38" /></li>
          <li><img alt="Изображение" height="24" loading="lazy" src="/assets/theme/assets/images/payment/paypal.svg" width="38" /></li>
          <li><img alt="Изображение" height="24" loading="lazy" src="/assets/theme/assets/images/payment/water.svg" width="38" /></li>
          <li><img alt="Изображение" height="24" loading="lazy" src="/assets/theme/assets/images/payment/discover.svg" width="38" /></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
