<section class="section-collection banner-cls">
  <div class="col-left">
    <div class="banner-image-text type-abs style-14 h-100">
      <a class="bn-image img-style" href="/measuring-tools/">
        <img alt="Изображение" height="860" loading="lazy" src="/assets/theme/assets/images/slider/electronics/slider-1.jpg" width="1290" />
      </a>
      <div class="bn-content wow fadeInUp">
        <a class="title h1 fw-medium text-white link" href="/measuring-tools/">
          Измерительные приборы <br class="d-none d-sm-block" /> для точной работы
        </a>
        <h6 class="desc text-body-1 text-white letter-space--1">
          Влагомеры, pH-метры, штангенциркули, дальномеры и приборы для контроля.
        </h6>
        <a class="btn-action tf-btn btn-white hv-primary" href="/measuring-tools/">Смотреть раздел</a>
      </div>
    </div>
  </div>
  <div class="col-right tf-grid-layout sm-col-2 lg-col-1 gap-10">
    <div class="box-image_v04 hover-img rounded-0">
      <a class="box-image_img img-style" href="/thermal-detectors/">
        <img alt="Изображение" height="425" loading="lazy" src="/assets/theme/assets/images/collection/cls-9.jpg" width="620" />
      </a>
      <div class="box-image_content wow fadeInUp">
        <a class="title h3 fw-medium link text-white" href="/thermal-detectors/">Тепловизоры и детекторы</a>
        <p class="desc text-body-1 text-white">Поиск утечек, проводки, перегрева, газа и радиационного фона.</p>
        <a class="btn-action tf-btn-line-2 style-white" href="/thermal-detectors/"><span class="fw-semibold">Смотреть раздел</span></a>
      </div>
    </div>
    <div class="box-image_v04 hover-img rounded-0">
      <a class="box-image_img img-style" href="/auto-service/">
        <img alt="Изображение" height="425" loading="lazy" src="/assets/theme/assets/images/collection/cls-10.jpg" width="620" />
      </a>
      <div class="box-image_content wow fadeInUp">
        <a class="title h3 fw-medium link text-white" href="/auto-service/">Автоинструменты</a>
        <p class="desc text-body-1 text-white">Тестеры стекол, TPMS, UV-фонари и приборы для авторабот.</p>
        <a class="btn-action tf-btn-line-2 style-white" href="/auto-service/"><span class="fw-semibold">Смотреть раздел</span></a>
      </div>
    </div>
  </div>
</section>
<div class="flat-spacing">
  <div class="container">
    <div class="tf-grid-layout sm-col-2">
      <div class="box-image_v04">
        <a class="box-image_img img-style" href="/tools-equipment/">
          <img alt="Изображение" height="388" loading="lazy" src="/assets/theme/assets/images/collection/cls-11.jpg" width="690" />
        </a>
        <div class="box-image_content wow fadeInUp">
          <a class="title h3 fw-medium link" href="/tools-equipment/">Инструменты и оборудование</a>
          <p class="desc text-body-1 cl-text-2">Оборудование для ремонта, электромонтажа, мойки и мастерской.</p>
          <a class="btn-action tf-btn-line-2 style-primary" href="/tools-equipment/"><span class="fw-semibold">Смотреть раздел</span></a>
        </div>
      </div>
      <div class="box-image_v04">
        <a class="box-image_img img-style" href="/smart-electronics/">
          <img alt="Изображение" height="388" loading="lazy" src="/assets/theme/assets/images/collection/cls-12.jpg" width="690" />
        </a>
        <div class="box-image_content wow fadeInUp">
          <a class="title h3 fw-medium text-white link" href="/smart-electronics/">Электроника</a>
          <p class="desc text-body-1 cl-text-line">Мониторы воздуха, HDMI-передатчики и полезные гаджеты.</p>
          <a class="btn-action tf-btn-line-2 style-white" href="/smart-electronics/"><span class="fw-semibold">Смотреть раздел</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
