---
---

<button
  class="mobile-menu-toggle"
  type="button"
  aria-label="Открыть каталог"
  aria-controls="mobile-menu"
  aria-expanded="false"
  data-mobile-menu-toggle
>
  <span></span>
</button>
