<div class="themesFlat">
  <div class="container">
    <div class="banner-image-text type-abs style-2">
      <a class="bn-image img-style" href="/catalog/">
        <img alt="Изображение" height="460" loading="lazy" src="/assets/theme/assets/images/section/banner-9.jpg" width="1410" />
      </a>
      <div class="bn-content wow fadeInUp">
        <a class="title h1 fw-medium text-white link" href="/catalog/">
          Точность <br class="d-none d-sm-block" />
          в ваших руках
        </a>
        <p class="desc text-white text-body-1">
          Измерительные приборы, детекторы и оборудование<br class="d-none d-sm-block" />
          для ремонта, диагностики, авторабот и дома.
        </p>
        <a class="btn-action tf-btn btn-white" href="/catalog/">Купить сейчас</a>
      </div>
    </div>
  </div>
</div>
