---
import ProductCard from "./ProductCard.astro";

const { products = [], priorityCount = 4 } = Astro.props;
---

<div class="grid">
  {products.map((product, index) => (
    <ProductCard product={product} priority={index < priorityCount} />
  ))}
</div>
