---
const {
  title = "88.uz - интернет-магазин",
  description = "Демо интернет-магазина на Astro с товарами из JSON."
} = Astro.props;
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="shortcut icon" href="/assets/theme/assets/images/logo/favicon.svg" />
<link rel="stylesheet" href="/assets/theme/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/theme/assets/css/swiper-bundle.min.css" />
<link rel="stylesheet" href="/assets/theme/assets/css/animate.css" />
<link rel="stylesheet" href="/assets/theme/assets/fonts/fonts.css" />
<link rel="stylesheet" href="/assets/theme/assets/icon/icomoon/style.css" />
<link rel="stylesheet" href="/assets/theme/assets/css/styles.css" />
