---
import { site } from "../lib/catalog";

const phoneHref = `tel:${site.phone.replaceAll(" ", "")}`;
---

<div class="topbar">
  <div class="topbar-inner">
    <span>Доставка по Ташкенту с 19:00 до 22:00</span>
    <a href={site.telegram}>Telegram</a>
    <a href={phoneHref}>{site.phone}</a>
  </div>
</div>
